.wrapper {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 5px 0px rgba(236, 236, 237, 0.35);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(236, 236, 237, 0.35);
    -moz-box-shadow: 0px 10px 5px 0px rgba(236, 236, 237, 0.35);
}

.wrapperCollapse {
    padding-bottom: 0px;
}

.sideMobileOnly {
    display: block;
}

.sidebarBrandName {
    display: none;
}

.sidebarBrandName + p {
    font-size: 1.3rem;
}

.sidebarToggler {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    display: block;
}

.sidebarNavLinksShow {
    display: flex !important;
}

.sidebarNavLinksHide {
    display: none !important;
}

.sidebarActiveLinkItem {
    color: var(--primary-color);
}

@media only screen and (min-width: 768px) {
    .wrapper {
        width: 15rem;
        min-height: 100vh;
        box-shadow: 10px 0px 5px 0px rgba(236, 236, 237, 0.25);
        -webkit-box-shadow: 10px 0px 5px 0px rgba(236, 236, 237, 0.25);
        -moz-box-shadow: 10px 0px 5px 0px rgba(236, 236, 237, 0.25);
    }

    .sidebarToggler {
        display: none;
    }

    .sidebarNavLinksHide {
        display: flex !important;
    }

    .sidebarBrandName {
        display: block;
        font-size: 2rem;
        margin: 0px;
    }

    .sidebarMobileProfile {
        display: none;
    }

    .sideMobileOnly {
        display: none;
    }
}
