@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
    --primary-color: #6d67e4;
    --primary-alt-color: #3641fc1a;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
}

.primary-bg {
    background-color: var(--primary-color);
}
